
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Jakarta trap</title>
    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/rahwana.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container main-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jakartrap</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Trending Now</a></li>
            <li><a href="#about">Baru</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container page">
      <div class="main-wrap">
        <div class="post">
          <h2>udah lama banget kejadiannya, diambil pake ponsel butut, ga jelas platnya melanggar peraturan? ENAKNYA RAME-RAME !!</h2>
          <img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab5ZVEB_460s_v1.jpg">
        </div>
         <div class="post">
          <h2>udah lama banget kejadiannya, diambil pake ponsel butut, ga jelas platnya melanggar peraturan? ENAKNYA RAME-RAME !!</h2>
          <img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab5ZVEB_460s_v1.jpg">
        </div>
         <div class="post">
          <h2>udah lama banget kejadiannya, diambil pake ponsel butut, ga jelas platnya melanggar peraturan? ENAKNYA RAME-RAME !!</h2>
          <img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab5ZVEB_460s_v1.jpg">
        </div>
         <div class="post">
          <h2>udah lama banget kejadiannya, diambil pake ponsel butut, ga jelas platnya melanggar peraturan? ENAKNYA RAME-RAME !!</h2>
          <img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab5ZVEB_460s_v1.jpg">
        </div>
      </div>
      <div class="sidebar-wrap">
        <div class="content">asds</div>
      </div>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>